.App {
  text-align: center;
  font-family: calibri;
  margin: 10px;

}

.App-logo {
  height: 15vmin;
  width: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  color: black;
  background-color: antiquewhite;
  border: 3px inset rgb(111, 176, 134);
  padding: 8px;
  width: 90%;
  
}

.container {
  display: flex;
  flex-direction: row;
  margin:0%;
  gap: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin:2%;
  gap: 15rem;
  display: inline-flex;
  position:relative;
  align-items: center;
  justify-content: center;
}