.Button{
    display: inline-block;
    outline: none;
    font-size: 15px;
    line-height: 0;
    border-radius: 500px;
    border: 2px solid;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 14px 18px;
    color: saddlebrown;
    background-color: antiquewhite;
    height: 65px;
    :hover{
        color: #fff;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 17rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    height: auto;
    width: auto
  }

