.City {
  text-align: center;
}

.City-header {
  background-color: white;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.City-header__paris {
  border-radius: 3rem;
  max-width: 99%;
}

.City-container {
  display: flex;
  flex-direction: row;
  padding: 0 3rem 0 3rem;
}

.intro {
  padding: 0 3rem 0 3rem;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.cards__item {
  background-color: antiquewhite;
  min-width: 10rem;
  border-radius: 3rem;
  padding: 30px;
  border-radius: 3rem;
  border: solid;
  font-family: calibri;
  font-size: 30px;
  color: saddlebrown;
}

.intro__title {
  font-size: 45px;
}