.City {
  text-align: center;
}

.City-header__paris {
  border-radius: 3rem;
  max-width: 99%;
}

.City-container {
  display: flex;
  flex-direction: row;
}

.intro {
  padding: 0 3rem 0 3rem;
}

.intro__title {
  font-size: 45px;
}

.cards__item {
  background-color: antiquewhite;
  border-radius: 3rem;
  border: solid;
  padding: 3rem;
  margin: 3rem;
  font-family: calibri;
  font-size: 30px;
  color: saddlebrown;
}